MOCK_AI=true
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4-mini-2026-03-17

FIREBASE_PROJECT_ID=opicmobile-45cd5
ADMOB_REWARDED_AD_UNIT_ID=ca-app-pub-5460686409666356/7091483531

FREE_PRACTICE_LIMIT=3
REWARD_PRACTICE_CREDITS=1
MAX_DAILY_REWARD_COUNT=3
